<nav class="navbar fixed-bottom navbar-light bg-light border-top">
  <div class="container d-flex align-items-center justify-content-around">
    <%= link_to root_path, class: "nav-link text-center" do %>
      <i class="fas fa-home fa-lg"></i>
    <% end %>
    <%= render "shared/scan"%>
    <%= link_to root_path, class: "nav-link text-center" do %>
      <i class="fas fa-star fa-lg"></i>
    <% end %>
    <%= link_to profile_path, class: "nav-link text-center" do %>
      <i class="fas fa-user fa-lg"></i>
    <% end %>
  </div>
</nav>
