<div class="card mt-4 food-details w-100">
  <div class="card-header d-flex gap-3">
    <h2><%= scan.food.name %></h2>
    <% if scan.user.favorited?(scan.food) %>
      <%= form_with url: unfavorite_food_path(scan), method: "delete" do %>
        <button><i class="fa-solid fa-star"></i></button>
      <% end %>
    <% else %>
      <%= form_with url: favorite_food_path(scan) do %>
        <button><i class="fa-regular fa-star"></i></button>
      <% end %>
    <% end %>
  </div>
  <div class="card-body">
    <ul>
      <% if scan.user.vegetarian %>
        <li>Vegetarian:
          <% if scan.food.vegetarian %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if scan.user.vegan %>
        <li>Vegan:
          <% if scan.food.vegan %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if scan.user.keto %>
        <li>Keto:
          <% if scan.food.keto %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if scan.user.pork %>
        <li>Pork-Free:
          <% if scan.food.pork %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if scan.user.beef %>
        <li>Beef-Free:
          <% if scan.food.beef %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if scan.user.gluten %>
        <li>Gluten-Free:
          <% if scan.food.gluten %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if scan.user.lactose %>
        <li>Lactose-Free:
          <% if scan.food.lactose %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if scan.food.high_fat? %>
        <li>High in fat <i class="fa-solid fa-exclamation"></i></li>
      <% end %>
      <% if scan.food.high_protein? %>
        <li>High in protein <i class="fa-solid fa-exclamation"></i></li>
      <% end %>
      <% if scan.food.high_carbohydrates? %>
        <li>High in carbohydrates <i class="fa-solid fa-exclamation"></i></li>
      <% end %>
    </ul>
  </div>
</div>
