<div style="display: flex; justify-content: flex-end; align-items: center;">
  <%= form_with url: favorite_scan_path(scan), html: { data: { controller: "toggle-star" } } do %>
    <button style="background: none; border: none;" data-action="click->toggle-star#toggle">
      <i data-toggle-star-target="star" class="<%= favorite ? "fa-solid" : "fa-regular" %> fa-star"
         style="color: gold; font-size: 1.5rem;"></i>
    </button>
  <% end %>
</div>
