.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 15px;
  align-items: center;
  position: relative;
}

.card-product img {
  margin-left: 0;
  height: 100%;
  width: 100px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product a {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
