.cards-container {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 4rem;
}

.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category a {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
