.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  image-url('grocery-scanner.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  h1 {
    font-size: 4rem;
  }

  .word-wrapper {
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-color: #16a34a;
    transition: all .3s ease-in-out;
  }
}

.hero {
  div {
    width: 100%;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hero {
  a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:active {
    color: #16a34a;
  }
}
