
        <!-- Portion Control -->
        <div data-controller="range-input">
          <%= simple_form_for [@scan, @portion] do |f| %>
            <%= f.label :portion_size, "How many servings did you have?", class: "fs-6 fw-bold mb-2 text-dark" %>
            <div class="d-flex align-items-center gap-2">
              <p class="fs-5 fw-semibold text-dark mb-0" data-range-input-target="text">1</p>
              <span class="text-muted">portions</span>
            </div>
            <%= f.input :portion_size, as: :range, label: false, input_html: {
                        class: "form-range mt-2",
                        min: '0',
                        max: '5',
                        step: '0.25',
                        value: "1",
                        data: { range_input_target: "range", action: "input->range-input#updateText" }
                    } %>
            <div class="mt-3 text-center">
              <%= button_tag 'Save Intake', class: "btn btn-dark btn-sm px-3 py-2", style: "margin-bottom: 70px;" %>
            </div>
          <% end %>
        </div>
